<appSettings>
  <add key="FacebookAppId" value="550342195567046"/>
  <add key="FacebookAppSecret" value="d7f0ebb32ab09170448c981e052269a0"/>
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>